@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<label id="lblWord"><font size="20">С _ _ _ _ _ Т</font></label>
<br />
<br />
<br />
<br />
<input id="btnGuess" type="button" value="button" /><input id="txtWordGuess" type="text" />