@{
    ViewBag.Title = "Home Page";
}

<div align="center">

    <p float="center"><font size="6">Да поиграем Бесеничка :)</font></p>
    <img src="/Content/Images/5.png" alt="No Image" />
</div>

            