@*@model IEnumerable<HangmanMVC.Data.Models.Word>*@
@{
    ViewBag.Title = "Home Page";
}

<div class="row" center>        

    <p float="center"><font size="6">Добре дошли в играта Бесеничка :)</font></p>
    
</div>

            